$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;

// line 4
$blue1:     #7FB3D5;
$blue2:     #5499C7;
$blue3:     #2980B9;
$blue4:     #2471A3;
$blue5:     #1F618D;
$blue6:     #1A5276;

$text-black: #343a40;
$text-white: rgba(white, .9);

$rounded-borders: 15px;
