---
layout: page
---

<h1><b>{{ page.title }}</b></h1>

<p class="post-metadata text-muted">
  {{ page.date | date_to_long_string }} -  
  <b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    less than 1 min read time
  {%- else -%}
    {{ words | divided_by: 180 }} mins read time
  {%- endif -%}
  </b>

  <br>

  {%- if page.tags != empty -%}
    Tags: 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/blog/tags#' | relative_url }}">
      <span class="tag badge badge-pill text-primary border border-primary">{{ tag }}</span>
    </a>
    {% endfor %}
  {%- endif -%}

</p>

{{ content }}

{% if page.comments %}
<div class="pt-5">
  {% include blog/disqus.html %}
</div>
{% endif %}

















<div id="vcomments"></div>
<script>
  new Valine({
    el: '#vcomments',
    appId: '9PQd0VOdLBtIrk7DuYhbXgo1-gzGzoHsz',
    appKey: '0tooNX9XI400l94QiuBP0lXm',

    avatar:'robohash',
    visitor: true, // 阅读量统计
    enableQQ: true
  })
</script>

<!-- id 将作为查询条件 -->
<span id=/blog/2020plan class="leancloud_visitors" data-flag-title="Your Article Title">
  <em class="post-meta-item-text">阅读量 </em>
  <i class="leancloud-visitors-count"></i>
</span>

</div>
